/*
    Style pagina index.php
*/
#index{
    margin: 0;
    padding: 0;
    background-color: #D6D6B1;
}

#index img{
    height: 300px;
    width: 250px;
    grid-row: 1/4;
    grid-column: 1/2;
    align-self: center;
    justify-self: center;
    margin-top: 10px;
}

#index #divNom{
    grid-row: 3/4;
    grid-column: 2/2;
    align-self: end;
    justify-self: center;
}

#index input{
    display: block;
    height: 50px;
    width: 600px;
    text-align: center;
    font-size: 30px;
}

#index h1{
    grid-column: 2/2;
    grid-row: 1/1;
    align-self: center;
    justify-self: center;
}

#index #nom_usuari{
    background-color: white;
    border-radius:12px;
}

#index #butoJugar{
    display: block;
    width: 605px;
    font-size: 20px;
    background-color: #3f3f37;
    border-radius:12px;
    color: white;
    text-align: center;
    text-decoration: none;
    margin:4px 2px;
    cursor: pointer;
}

#index main{
    display: grid;
    grid-template-rows: 1fr 2fr 2fr;
    grid-template-columns: 25% 75%;
}


#index footer p{
    text-align: center;
}

#index #instruccions{
    display: block;
    grid-column: 2/2;
    grid-row: 4/4;
    justify-self: center;
}

#index #divLlenguatge{
    justify-self: center;
    grid-column: 2/2;
    grid-row: 2/3;
}

#index #listaInstruccions{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#divLlenguatge input{
    display: inline;
    width: auto;
    height: auto;
    text-align: left;
}


#divLlenguatge img{
    width: 20px;
    height: 20px;
}

/*
    Style pagina game.php
*/
#game{
    background-color: #D6D6B1;
}

#game #nomUsuari{
    display: flex;
    justify-content: flex-end;
}
#game table{
    display: flex;
    justify-content: center;
}
#game tr{
    align-items: center;
}
#game td{
    width: 50px;
    height: 50px;
    border: 1px solid #DE541E;
    background-color: white;
    border-radius: 5px;
    text-align: center;
}
#game #teclat {
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
    
#game #teclat div {
    display: flex;
}  
#game #tecla{
    font-size: 1rem;
    font-weight: 700;
    padding: 15px;
    margin: 5px ;
    text-transform: uppercase;
    border: none;
    background-color: rgb(226,232,240);
    border-radius: 5px;
}

#game #tecla:hover{
    background-color:#DE541E;
    color: white;
}

#game #resultat{
    display: none;
    text-align: center;
}
